streamlit
pandas
plotly
gspread
oauth2client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-analytics-data
scikit-learn
bcrypt==4.2.0
streamlit-echarts
pymongo
python-dotenv
extra-streamlit-components
